# Supabase Configurations
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

BREVO_API_KEY=xkeysib-your_brevo_api_key
SENDER_EMAIL=krabhishek0321@gmail.com
SENDER_NAME="Portfolio Abhishek"